[Desktop Entry]
Version=1.0
Name=Pacstall-gui frontend
GenericName=Package Manager
Comment=GUI pacstall software packages
Exec=pacstall-gui
TryExec=/usr/bin/pacstall-gui
Icon=system-software-install
Terminal=false
Type=Application
Categories=PackageManager;GTK;System;Settings;
StartupNotify=true
StartupWMClass=pacstall-gui
